body{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 45px;
}

.bottone{
    display: block;
    text-decoration: none;
    text-align: center;
   
    padding: 5px;
    border-radius: 20px;
    color: rgb(16, 143, 227);
    margin-top: 10px;

    /* debug */
    
}

.bottone:hover{
    border:inset 1px white;
}



    /* header */


#header-up{
    background-color:black ;
    height: 80px;
   
}

#header-up img{
    
    width: 80px;
    height: 80px;
}


            /* jumbotron */

#jumbo{
    color: white;
    background-image: url(../img/jumbo-bg.png);
    min-height: 500px;
    width: 100%;
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
}

#banner-returnal{
    object-fit: contain;
    width: 200px;
    height: 50px;
    margin: 20px 0;
}

.btn-jumbo{
    background-color: #cd3d0f;
    color: white;
    width:125px ;
    margin-bottom: 20px;
}
.carosel-jumbo{
    object-fit: cover;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin-top: 20px;
    
}

    /* section play-5 */
    .nome-section{
        text-align: center;
        padding: 50px 0;
    }
    
   
    #color-play5{
        font-size: 15px;
    color: rgb(0, 162, 255);
}
.sottotitolo{
    margin-top: 20px;
    color: rgb(120, 120, 120);
    display: block;

}
#play-5-img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    
}

.opaco{
    opacity: 0.5;
}

.opaco:hover{
    opacity: 1;
}

.btn-play5{
    width: 180px;
    background-color: #2d64e6;
    color: white;
    margin-bottom: 20px;
}

.gallery-ps5{
    width: 100%;
    height: 200px;
    
    object-fit: contain;
}

#it-take-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover ;
    min-height: 500px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    
}

#it-take-two img{
    object-fit: contain;
    width: 100%;
    height: 150px;
    margin: 20px 0;
}

/* nuove uscite */
#nuove-uscite{
    color: white;
    background-color: #1f1f1f;

}

#nuove-uscite span{
    display: block;
    margin-bottom: 20px;
}

#nuove-uscite h3,h4 {
    margin: 20px;
}

.nuove-uscite-img{
    width: 170px;
    height: 170px;
    border-radius: 20px; 
    
    object-fit: contain;
}

/* PS4 */
.img-ps4{
    width: 100%;
    height: 200px;
    object-fit: contain;
    
    
}

.btn-play4{
    width: 110px;
    background-color: #2d64e6;
    color: white;
}

/* playstation-plus */

#playstation-plus{
    margin: 50px 0;
    background-color: #bebcbb;
}
.play-logo-img{
    height: 80px;
    width: 350px;
    object-fit: contain;
    margin: 40px 0;
}
.play-banner-img{
    max-width: 400px;
    
}

.btn-play-plus{
    background-color: #d9dadc;
    width: 200px;
    
}

/* playstation-store */
.img-ps-store{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* playstation-now */
 #playstation-now{
     background-color: #161c3b;
     color: white;
 }

 /* section-social */
.img-ps-social{
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 20px;
}

 
 footer{
     background-color: #00439c;
     color: white;
 }

 #logo-play-ft{
     width: 100px;
     height: 100px;
     object-fit: contain;
 }
