body{
    font-family: Arial, Helvetica, sans-serif;
}

.bottone{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    color: rgb(16, 143, 227);
    margin-top: 10px;

    /* debug */
    border: solid 1px rgb(0, 191, 255);
    width: 200px;
}


    /* header */


#header-up{
    background-color:black ;
    height: 80px;
   
}

#header-up img{
    
    width: 80px;
    height: 80px;
}


            /* jumbotron */

#jumbo{
    color: white;
    background-image: url(../img/jumbo-bg.png);
    min-height: 500px;
    width: 100%;
    background-size:cover ;
}

#banner-returnal{
    object-fit: contain;
    width: 100%;
    height: 50px;
}
.carosel-jumbo{
    object-fit: cover;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin-top: 20px;
    
}

    /* section play-5 */
    .nome-section{
        text-align: center;
        padding: 50px 0;
    }
    
   
    #color-play5{
        font-size: 15px;
    color: rgb(0, 162, 255);
}
.sottotitolo{
    margin-top: 20px;
    color: rgb(120, 120, 120);
    display: block;

}
#play-5-img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.gallery-ps5{
    width: 100%;
    height: 200px;
    
    object-fit: contain;
}

#it-take-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover ;
    min-height: 500px;
    color: white;
    
}

#it-take-two img{
    object-fit: contain;
    width: 100%;
    height: 150px;
    margin: 20px 0;
}

/* nuove uscite */
#nuove-uscite{
    color: white;
    background-color: #1f1f1f;

}

.nuove-uscite-img{
    width: 170px;
    height: 170px;
    border-radius: 20px; 
    
    object-fit: contain;
}

/* PS4 */
.img-ps4{
    width: 100%;
    height: 200px;
    object-fit: contain;
    
    
}

/* playstation-plus */

#playstation-plus{
    margin: 50px 0;
    background-color: #bebcbb;
}
.play-logo-img{
    height: 80px;
    width: 350px;
    object-fit: contain;
    margin: 40px 0;
}
.play-banner-img{
    height: 500px;
}

/* playstation-store */
.img-ps-store{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* playstation-now */
 #playstation-now{
     background-color: #161c3b;
 }
